<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <title>Jinba - Navbar</title>
    <link rel="stylesheet" th:href="@{/css/coreui/coreui.min.css}">
</head>
<body>
<header class="header header-sticky" th:fragment="nav">
    <div class="container-fluid">
        <ul class="header-nav d-none d-md-flex">
            <li class="header-brand"><a class="header-brand" th:href="@{/home}">Jinba</a></li>
            <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/home}">Home</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/dashboard}">Dashboard</a></li>
        </ul>
        <ul sec:authorize="isAnonymous()" class="header-nav ms-3">
            <li class="nav-item mx-2"><a class="nav-link" th:href="@{/register}">Register</a></li>
            <li class="nav-item"><a class="nav-link btn btn-primary text-white px-3" th:href="@{/login}">Login</a></li>
        </ul>
        <ul class="header-nav ms-3" sec:authorize="isAuthenticated()">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link py-0" data-coreui-toggle="dropdown" href="#"
                   role="button">
                    <div class="avatar avatar-md bg-primary text-white">
                        <span th:text="${#authentication.getPrincipal().getFirstName().toUpperCase().charAt(0)}"></span>
                        <span th:text="${#authentication.getPrincipal().getLastName().toUpperCase().charAt(0)}"></span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <span class="dropdown-header bg-light py-2 fw-semibold">Jobs</span>
                    <a class="dropdown-item" th:href="'/profile'" sec:authorize="hasRole('COMPANY_USER')">
                        My Job Offers</a>
                    <a class="dropdown-item" th:href="@{/offer/create}" sec:authorize="hasRole('COMPANY_USER')">
                        New Job Offer</a>
                    <span class="dropdown-header bg-light py-2 fw-semibold">Account</span>
                    <a class="dropdown-item" th:href="@{/profile}">
                        Profile</a>
                    <a class="dropdown-item" th:href="@{/profile/edit}">
                        Edit Profile</a>
                    <a class="dropdown-item" th:href="@{/logout}">
                        Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header>
</body>
</html>