<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Meine Scripts</title>
  <!-- List of Scripts, need ' th:fragment="scripts" ' to get called -->
  <script th:src="@{/js/coreui/popper.min.js}" type="text/javascript" th:fragment="scripts"></script>
  <script th:src="@{/js/coreui/coreui.min.js}" type="text/javascript" th:fragment="scripts"></script>
  <script th:src="@{/js/tabs.js}" type="text/javascript" th:fragment="scripts"></script>
</head>
<body>
<!-- empty page -->
</body>
</html>
