<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Jinba - Error</title>
    <link th:href="@{/css/coreui/coreui.min.css}" rel="stylesheet">
</head>
<body class="bg-light">
<div class="min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="float-start display-3 me-4" th:text="${status}"></h1>
                    <div>
                        <h4 class="pt-3" th:text="${error}"></h4>
                        <p class="text-medium-emphasis" th:text="${message}"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-absolute start-50 translate-middle d-flex justify-content-center align-items-center"
    style="top: 90%">
    <a class="btn btn-outline-primary" th:href="@{/home}">Home</a>
</div>
<script type="text/javascript" th:src="@{/js/coreui/coreui.min.js}"></script>
</body>
</html>