<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Jinba - Error</title>
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.2.0/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-UkVD+zxJKGsZP3s/JuRzapi4dQrDDuEf/kHphzg8P3v8wuQ6m9RLjTkPGeFcglQU" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="float-start display-3 me-4" th:text="${status}"></h1>
                    <div>
                        <h4 class="pt-3" th:text="${error}"></h4>
                        <p class="text-medium-emphasis" th:text="${message}"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-absolute start-50 translate-middle d-flex justify-content-center align-items-center"
    style="top: 90%">
    <a class="btn btn-outline-primary" th:href="@{/home}">Home</a>
</div>
<!-- CoreUI and necessary plugins-->
<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.2.0/dist/js/coreui.bundle.min.js" integrity="sha384-n0qOYeB4ohUPebL1M9qb/hfYkTp4lvnZM6U6phkRofqsMzK29IdkBJPegsyfj/r4" crossorigin="anonymous"></script>
</body>
</html>