<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/coreui/coreui.min.css}">
</head>
<body class="bg-light min-vh-100">
<header th:replace="~{fragments/nav.html :: nav}"></header>
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="avatar bg-primary text-white mb-3" style="position: relative; width: 100%; height: 0; padding-bottom: 100%">
                        <h1 style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                            <span th:text="${profile.firstName.toUpperCase().charAt(0)}"></span>
                            <span th:text="${profile.lastName.toUpperCase().charAt(0)}"></span>
                        </h1>
                    </div>
                    <div>
                        <h2><span th:text="${profile.firstName}"></span> <span th:text="${profile.lastName}"></span></h2>
                        <p>Email: <span th:text="${profile.email}"></span></p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" th:if="${isOwnProfile}">
                        <a th:href="@{/profile/edit}" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="content" th:text="${profile.details}"></div>
                    <script th:src="@{/js/marked.min.js}"></script>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        let detail = /*[[${profile.details}]]*/ 'Details';
                        document.getElementById('content').innerHTML =
                            marked.parse(detail);
                        /*]]>*/
                    </script>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h2>Skills</h2>
                    <div th:if="${profile.skills.isEmpty()}" class="alert alert-danger alert-dismissible fade show">
                        <span>This user does not have any Skills</span>
                    </div>
                    <div class="container">
                        <div th:each="skill : ${profile.skills}" class="row">
                            <div class="col-6">
                                <ul class="px-2 mb-1">
                                    <li th:text="${skill.skill.name}"></li>
                                </ul>
                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-end flex-row">
                                <span class="text-muted" th:text="${skill.level.years()}"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{fragments/scripts :: scripts}"></script>
</body>
</html>